
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Core</h1>

<f:flashMessages />

<table  class="tx_t3monitoring" >
	<tr>
		<th><f:translate key="tx_t3monitoring_domain_model_core.version" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.insecure" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.next_secure_version" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.type" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.release_date" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.latest" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.stable" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.is_stable" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.is_active" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.is_latest" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_core.version_integer" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{cores}" as="core">
		<tr>
			<td><f:link.action action="show" arguments="{core : core}"> {core.version}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.insecure}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.nextSecureVersion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.releaseDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.latest}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.stable}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.isStable}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.isActive}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.isLatest}</f:link.action></td>
			<td><f:link.action action="show" arguments="{core : core}"> {core.versionInteger}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{core : core}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{core : core}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Core</f:link.action>
</f:section>