
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Extension</h1>

<f:flashMessages />

<table  class="tx_t3monitoring" >
	<tr>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.name" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.version" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.insecure" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.next_secure_version" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.title" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.description" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.last_updated" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.author_name" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.update_comment" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.state" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_extension.version_integer" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{extensions}" as="extension">
		<tr>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.version}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.insecure}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.nextSecureVersion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.lastUpdated -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.authorName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.updateComment}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.state}</f:link.action></td>
			<td><f:link.action action="show" arguments="{extension : extension}"> {extension.versionInteger}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{extension : extension}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{extension : extension}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Extension</f:link.action>
</f:section>