{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace monitor = T3Monitor\T3monitoring\ViewHelpers}

<f:layout name="Simple" />

<f:section name="content">
	<h1>Used extensions</h1>

	<f:form name="filter" object="{filter}" class="form-inline">

		<div class="form-group">
			<label>Search

			</label>
			<f:form.textfield property="name" class="form-control" />
		</div>

		<div class="form-group">
			<label>Exact search</label>
			<div class="checkbox">
				<f:form.checkbox property="exactSearch" value="1" />
			</div>
		</div>
		<button class="btn btn-default">
			{core:icon(identifier:'actions-search')} Search
		</button>
	</f:form>

	<f:if condition="{extensions}">
		<f:then>
			<div class="panel panel-default panel-space">
				<div class="panel-heading">
					Extensions ({extensions -> f:count()} total)
				</div>
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th style="width:250px;">Name</th>
						<th style="width:150px;">Version</th>
						<th>Client</th>
					</tr>
					</thead>
					<f:for each="{extensions}" as="versions" key="name" iteration="i">
						<f:for each="{versions}" as="v" key="versionName" iteration="i2">
							<tr>
								<f:if condition="{i2.isFirst}">
									<td rowspan="{versions -> f:count()}">
										<f:link.action action="show" controller="Extension" arguments="{extension:name}">{name}</f:link.action>
									</td>
								</f:if>
								<td>{versionName}</td>
								<td>
									<table class="table table-no-borders table-transparent" style="background-color: transparent">
										<f:for each="{v.clients}" as="client">
											<tr class="{f:if(condition:client.insecure,then:'danger',else:'')}">
												<td>
													<f:link.action action="show" controller="Client" arguments="{client:client.clientUid}">{client.title}</f:link.action>
												</td>
											</tr>
										</f:for>
									</table>
								</td>
							</tr>
						</f:for>
					</f:for>
				</table>
		</f:then>
		<f:else>
			<div class="callout callout-notice">
				Nothing found
			</div>
		</f:else>
	</f:if>
</f:section>