{namespace monitor = T3Monitor\T3monitoring\ViewHelpers}

<f:layout name="Simple" />

<f:section name="content">
	<h1>Extensions</h1>

	<f:form name="filter" object="{filter}" class="form-horizontal">
		<f:form.textfield property="name" />
		<f:form.checkbox property="exactSearch" value="1" />
		<f:form.submit value="Filter" />
	</f:form>

	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th>Details</th>
		</tr>
		</thead>
		<f:groupedFor each="{extensions}" as="groupedExtensions" groupBy="name" groupKey="name">

			<tr>
				<td>{name}</td>
				<td>
					<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th>Version</th>
							<th>Clients</th>
						</tr>
						</thead>
						<f:groupedFor each="{groupedExtensions}" as="groupedExtensionsVersion" groupBy="version" groupKey="version">
							<tr>
								<td>{version}</td>
								<td>
									<ul>
										<f:for each="{groupedExtensionsVersion}" as="line">
											<li>{line.title}</li>
										</f:for>
									</ul>
								</td>
							</tr>
						</f:groupedFor>
					</table>
				</td>
			</tr>
		</f:groupedFor>
	</table>
</f:section>