{namespace monitor = T3Monitor\T3monitoring\ViewHelpers}

<f:layout name="Simple" />

<f:section name="content">
	<h1>Extensions</h1>

	<f:form name="filter" object="{filter}" class="form-horizontal">
		<f:form.textfield property="name" />
		<f:form.checkbox property="exactSearch" value="1" />
		<f:form.submit value="Filter" />
	</f:form>

	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>Name</th>
			<th>version</th>
		</tr>
		</thead>
		<f:groupedFor each="{extensions}" as="groupedExtensions" groupBy="name" groupKey="name">
			<f:for each="{groupedExtensions}" as="fo" iteration="i">
				<tr>
					<f:if condition="{i.isFirst}">
						<td rowspan="{groupedExtensions -> f:count()}">{name} => {groupedExtensions -> f:count()}
						</td>
					</f:if>

					<td>{fo.version}</td>

				</tr>
			</f:for>
		</f:groupedFor>
	</table>
</f:section>