{namespace monitor = T3Monitor\T3monitoring\ViewHelpers}

<f:layout name="Simple" />

<f:section name="content">
	<h1>Extension "{latest.title}" ({latest.name})</h1>
	<p class="lead">{latest.description -> f:format.nl2br()}
		<f:if condition="{latest.authorName}">
			<br>by {latest.authorName}
		</f:if>
	</p>

	<f:if condition="{versions}">
		<f:then>
			<div class="panel panel-default">
				<div class="panel-heading">
					Versions ({versions -> f:count()} total)
				</div>
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th style="width:150px;">version</th>
						<th>Date</th>
						<th>State</th>
						<th>Category</th>
						<th>Update comment</th>
					</tr>
					</thead>
					<f:for each="{versions}" as="version">
						<tr class="{f:if(condition:version.insecure,then:'danger',else:'success')}">
							<th class="text-nowrap">{version.version}</th>
							<td class="text-nowrap">{monitor:format.dateTimeAge(date:version.lastUpdated)}</td>
							<td><span class="label label-{version.stateString}">{version.stateString}</span></td>
							<td>{version.categoryString}</td>
							<td>{version.updateComment -> f:format.nl2br()}</td>
						</tr>
					</f:for>
				</table>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-notice">
				No versions available
			</div>
		</f:else>
	</f:if>
</f:section>