
<table class="tx-t3monitoring" >
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.version" />
		</td>
		<td>
		{core.version}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.insecure" />
		</td>
		<td>
		{core.insecure}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.next_secure_version" />
		</td>
		<td>
		{core.nextSecureVersion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.type" />
		</td>
		<td>
		{core.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.release_date" />
		</td>
		<td>
		{core.releaseDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.latest" />
		</td>
		<td>
		{core.latest}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.stable" />
		</td>
		<td>
		{core.stable}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.is_stable" />
		</td>
		<td>
		{core.isStable}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.is_active" />
		</td>
		<td>
		{core.isActive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.is_latest" />
		</td>
		<td>
		{core.isLatest}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_core.version_integer" />
		</td>
		<td>
		{core.versionInteger}
		</td>
	</tr>
</table>