<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<table class="tx-t3monitoring" >
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.name" />
		</td>
		<td>
			{extension.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.version" />
		</td>
		<td>
			{extension.version}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.insecure" />
		</td>
		<td>
			{extension.insecure}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.next_secure_version" />
		</td>
		<td>
			{extension.nextSecureVersion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.title" />
		</td>
		<td>
			{extension.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.description" />
		</td>
		<td>
			{extension.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.last_updated" />
		</td>
		<td>
			{extension.lastUpdated -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.author_name" />
		</td>
		<td>
			{extension.authorName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.update_comment" />
		</td>
		<td>
			{extension.updateComment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.state" />
		</td>
		<td>
			{extension.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_extension.version_integer" />
		</td>
		<td>
			{extension.versionInteger}
		</td>
	</tr>
</table>
</html>