{namespace monitor = T3Monitor\T3monitoring\ViewHelpers}

<f:layout name="Simple" />

<f:section name="content">
	<h1>Administration</h1>

	<h3>Start an import</h3>

	<div class="btn-toolbar">
		<div class="btn-group" role="group">
			<f:link.action action="administration" arguments="{import:'clients'}" class="btn btn-info">Clients</f:link.action>
		</div>
		<div class="btn-group" role="group">
			<f:link.action action="administration" arguments="{import:'core'}" class="btn btn-info">Core versions</f:link.action>
		</div>
		<div class="btn-group" role="group">
			<f:link.action action="administration" arguments="{import:'extensions'}" class="btn btn-info">Extensions</f:link.action>
		</div>
	</div>


	<div class="row">
		<f:if condition="{success}">
			<br><br>
			<div class="alert alert-success">
				The import was successful!
			</div>
		</f:if>
	</div>
</f:section>