<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">

<f:layout name="Simple" />

<f:section name="content">
	<h1>{f:translate(key:'view.administration')}</h1>
	<f:if condition="{emConfiguration.ipHint}">
		<div class="alert alert-info">
			<f:translate key="administration.ipHint" arguments="{0:emConfiguration.ipHint}" />
		</div>
	</f:if>

	<h3>{f:translate(key:'administration.import.headline')}</h3>
	<p>{f:translate(key:'administration.import.description')}</p>

	<div class="btn-toolbar">
		<div class="btn-group" role="group">
			<f:link.action action="administration" arguments="{import:'clients'}" class="btn btn-info">
				{core:icon(identifier:'actions-system-extension-download')} {f:translate(key:'tx_t3monitoring_domain_model_client')}
			</f:link.action>
		</div>
		<div class="btn-group" role="group">
			<f:link.action action="administration" arguments="{import:'core'}" class="btn btn-info">
				{core:icon(identifier:'actions-system-extension-download')} {f:translate(key:'tx_t3monitoring_domain_model_core')}
			</f:link.action>
		</div>
		<div class="btn-group" role="group">
			<f:link.action action="administration" arguments="{import:'extensions'}" class="btn btn-info">
				{core:icon(identifier:'actions-system-extension-download')} {f:translate(key:'tx_t3monitoring_domain_model_extension')}
			</f:link.action>
		</div>
	</div>

	<div class="row">
		<f:if condition="{success}">
			<br><br>
			<div class="alert alert-success">
				{f:translate(key:'administration.import.success')}
			</div>
		</f:if>
	</div>
	<hr>
	<h3>{f:translate(key:'administration.sponsors.headline')}</h3>
	<p>{f:translate(key:'administration.sponsors.description')}</p>
	<div class="row">
		<div class="col-md-2">
			<a href="http://www.sup7even.digital/" rel=nofollow” target="_blank" class="thumbnail">
				<img src="{f:uri.resource(path:'Img/logo-sup7even.png')}" /> </a>
			<p class="caption">
				<a class="t3-link" href="http://www.sup7even.digital/" rel=nofollow” target="_blank">Sup7even Digital Solutions</a>
			</p>
		</div>
	</div>
</f:section>