<f:layout name="Simple" />

<f:section name="content">
	<h1>Version: {version.version}</h1>

	<table class="table table-striped table-hover">
		<tr>
			<th>Release Date</th>
			<td>{version.release_data}
				<f:comment>change to release_date</f:comment>
			</td>
		</tr>
		<tr>
			<th>Is secure</th>

			<f:if condition="{version.insecure}">
				<f:then>
					<td class="danger">insecure</td>
				</f:then>
				<f:else>
					<td class="success">secure</td>
				</f:else>
			</f:if>
		</tr>
		<tr>
			<th>Is latest</th>
			<td>
				<f:if condition="{version.isLatest}">
					<f:then>Is latest</f:then>
					<f:else>No, but <strong>{version.latest}</strong></f:else>
				</f:if>
			</td>
		</tr>
		<tr>
			<th>Is supported</th>
			<td>
				<f:if condition="{version.isActive}">
					<f:then>yes</f:then>
					<f:else>No</f:else>
				</f:if>
			</td>
		</tr>
	</table>

	<div class="panel panel-default ">
		<div class="panel-heading">
			Clients ({f:count(subject:clients)})
		</div>
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>Name</th>
				<th>domain</th>
			</tr>
			</thead>
			<f:for each="{clients}" as="client">
				<tr>
					<td>{client.title}</td>
					<td>{client.domain}</td>
				</tr>
			</f:for>
		</table>
	</div>
</f:section>