<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:monitor="http://typo3.org/ns/T3Monitor/T3monitoring/ViewHelpers">

<f:layout name="Simple"/>

<f:section name="content">
    <f:if condition="{fullClientCount}">
        <f:then>
            <f:if condition="{showIntro}">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {f:translate(key:'clients.total', arguments:'{0:numberOfClients}')}
                            </div>
                            <table class="table table-striped table-hover">
                                <tr>
                                    <th>
                                        <f:link.action
                                                additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{withErrorMessage:'1'}}}">
                                            {f:translate(key:'clients.notReachable')}
                                        </f:link.action>
                                    </th>
                                    <td>
                                        <span class="badge badge-{f:if(condition:clientsWithErrorMessages,then:'warning',else:'success')}">{clientsWithErrorMessages}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <f:link.action
                                                additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{withInsecureCore: '1'}}}">
                                            {f:translate(key:'tx_t3monitoring_domain_model_client.insecure_core')}
                                        </f:link.action>
                                    </th>
                                    <td>
                                        <span class="badge badge-{f:if(condition:clientsWithInsecureCore,then:'danger',else:'success')}">{clientsWithInsecureCore}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <f:link.action
                                                additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{withOutdatedCore: '1'}}}">
                                            {f:translate(key:'tx_t3monitoring_domain_model_client.outdated_core')}
                                        </f:link.action>
                                    </th>
                                    <td>
                                        <span class="badge badge-{f:if(condition:clientsWithOutdatedCore,then:'warning',else:'success')}">{clientsWithOutdatedCore}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <f:link.action
                                                additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{withInsecureExtensions:1}}}">
                                            {f:translate(key:'tx_t3monitoring_domain_model_client.insecure_extensions')}
                                        </f:link.action>
                                    </th>
                                    <td>
                                        <span class="badge badge-{f:if(condition:clientsWithInsecureExtensions,then:'danger',else:'success')}">{clientsWithInsecureExtensions}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <f:if condition="{clientsWithOutdatedExtensions}">
                                            <f:then>
                                                <f:link.action
                                                        additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{withOutdatedExtensions:1}}}">
                                                    {f:translate(key:'tx_t3monitoring_domain_model_client.outdated_extensions')}
                                                </f:link.action>
                                            </f:then>
                                            <f:else>
                                                {f:translate(key:'tx_t3monitoring_domain_model_client.outdated_extensions')}
                                            </f:else>
                                        </f:if>
                                    </th>
                                    <td>
                                        <span class="badge badge-{f:if(condition:clientsWithInsecureExtensions,then:'notice',else:'success')}">{clientsWithOutdatedExtensions}</span>
                                    </td>
                                </tr>
                                <f:if condition="{clientsWithWarningInfo}">
                                    <tr>
                                        <th>
                                            <f:link.action
                                                    additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{withExtraWarning :1}}}">
                                                {f:translate(key:'filter.withExtraWarning')}
                                            </f:link.action>
                                        </th>
                                        <td>
                                            <span class="badge badge-warning">{clientsWithWarningInfo}</span>
                                        </td>
                                    </tr>
                                </f:if>
                                <f:if condition="{clientsWithDangerInfo}">
                                    <tr>
                                        <th>
                                            <f:link.action
                                                    additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{withExtraDanger:1}}}">
                                                {f:translate(key:'filter.withExtraDanger')}
                                            </f:link.action>
                                        </th>
                                        <td>
                                            <span class="badge badge-danger">{clientsWithDangerInfo}</span>
                                        </td>
                                    </tr>
                                </f:if>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <f:translate key="core.totalUsed" arguments="{0:'{coreVersionUsage -> f:count()}'}"/>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>{f:translate(key:'tx_t3monitoring_domain_model_core.version')}</th>
                                    <th>{f:translate(key:'count')}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{coreVersionUsage}" as="line">
                                    <tr>
                                        <td class="{f:if(condition:line.insecureCore,then:'danger',else:'success')}">
                                            <f:link.action
                                                    additionalParams="{tx_t3monitoring_tools_t3monitoringt3monitor:{filter:{version:line.version_integer}}}">
                                                {line.version}
                                            </f:link.action>
                                        </td>
                                        <td>{line.count}</td>
                                    </tr>
                                </f:for>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {f:translate(key:'bulletins.headline')}
                            </div>

                            <f:if condition="{emConfiguration.loadBulletins}">
                                <f:then>
                                    <f:if condition="{feedItems}">
                                        <f:then>
                                            <ul>
                                                <f:for each="{feedItems}" as="item">
                                                    <li>
                                                        <f:link.external target="_blank" uri="{item.link}">
                                                            {item.title}
                                                        </f:link.external>
                                                        <f:if condition="{item.date}">
                                                            <i>{item.date -> f:format.date(format:'d.m.Y')}</i>
                                                        </f:if>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </f:then>
                                        <f:else>
                                            <div class="alert alert-warning">
                                                {f:translate(key:'bulletins.errorFetch')}
                                            </div>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <div class="callout callout-notice" style="margin:0">
                                        {f:translate(key:'bulletins.disabled')}
                                    </div>
                                </f:else>
                            </f:if>
                        </div>

                        <p>
                            <a href="https://typo3.org/teams/security/security-bulletins/" target="_blank"
                               class="t3-link">{f:translate(key:'bulletins.all')}</a>
                        </p>
                    </div>
                </div>
            </f:if>

            <f:form action="index" name="filter" object="{filter}" class="filter">
                <f:form.hidden property="withExtraWarning"/>
                <f:form.hidden property="withExtraDanger"/>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="form-client">{f:translate(key:'tx_t3monitoring_domain_model_client')}</label>
                            <f:form.textfield property="searchWord" id="form-client" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="form-core">Core</label>
                            <f:form.select property="version" id="form-core" options="{coreVersions}"
                                           optionValueField="versionInteger" optionLabelField="version"
                                           class="form-control" prependOptionLabel="" prependOptionValue=""/>
                        </div>

                        <f:if condition="{slaVersions}">
                            <div class="form-group">
                                <label for="form-sla">{f:translate(key:'tx_t3monitoring_domain_model_sla')}</label>
                                <f:form.select property="sla" id="form-sla" options="{slaVersions}"
                                               optionValueField="uid" optionLabelField="title" class="form-control"
                                               prependOptionLabel="" prependOptionValue=""/>
                            </div>
                        </f:if>

                        <fieldset>
                            <legend class="legend">{f:translate(key:'filter.fieldset.core')}</legend>
                            <div class="checkbox">
                                <label>
                                    <f:form.checkbox property="withInsecureCore" value="1"/>
                                    {f:translate(key:'tx_t3monitoring_domain_model_client.insecure_core')}</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <f:form.checkbox property="withOutdatedCore" value="1"/>
                                    {f:translate(key:'tx_t3monitoring_domain_model_client.outdated_core')}</label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="legend">{f:translate(key:'filter.fieldset.extensions')}</legend>
                            <div class="checkbox">
                                <label>
                                    <f:form.checkbox property="withOutdatedExtensions" value="1"/>
                                    {f:translate(key:'tx_t3monitoring_domain_model_client.outdated_extensions')}</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <f:form.checkbox property="withInsecureExtensions" value="1"/>
                                    {f:translate(key:'tx_t3monitoring_domain_model_client.insecure_extensions')}</label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="legend">{f:translate(key:'filter.fieldset.misc')}</legend>
                            <div class="checkbox">
                                <label>
                                    <f:form.checkbox property="withErrorMessage" value="1"/>
                                    {f:translate(key:'filter.connectionErrors')}</label>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <button class="btn btn-default">
                                {core:icon(identifier:'actions-search')} {f:translate(key:'search')}
                            </button>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <f:if condition="{showSearch}">
                            <f:then>
                                <f:if condition="{clients}">
                                    <f:then>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                {f:translate(key:'clients.total', arguments:'{0:\'{clients ->
                                                f:count()}\'}')}
                                            </div>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>{f:translate(key:'tx_t3monitoring_domain_model_client')}</th>
                                                    <th>{f:translate(key:'tx_t3monitoring_domain_model_sla')}</th>
                                                    <th>{f:translate(key:'tx_t3monitoring_domain_model_core')}</th>
                                                    <th class="text-center" colspan="3">
                                                        {f:translate(key:'tx_t3monitoring_domain_model_extension')}
                                                    </th>
                                                    <th class="text-center" colspan="2">
                                                        {f:translate(key:'client.extra')}
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <f:for each="{clients}" as="client">
                                                    <tr>
                                                        <td>
                                                            <f:link.action action="show" controller="Client"
                                                                           arguments="{client:client}">

                                                                <f:if condition="{emConfiguration.presentationMode}">
                                                                    <f:then>
                                                                        <f:translate key="presentationMode.client.title" arguments="{0:client.uid}" />
                                                                    </f:then>
                                                                    <f:else>
                                                                         {client.title} - {client.domain}
                                                                    </f:else>
                                                                </f:if>
                                                            </f:link.action>
                                                            <f:if condition="{client.errorMessage}">
                                                                <br><span
                                                                    class="text-danger">{client.errorMessage}</span>
                                                            </f:if>
                                                        </td>
                                                        <td class="text-nowrap">
                                                            <f:if condition="{client.sla}">
                                                                <f:then>
                                                                    <f:link.action action="show" controller="Sla"
                                                                                   arguments="{sla:client.sla}">
                                                                        {client.sla.title}
                                                                    </f:link.action>
                                                                </f:then>
                                                                <f:else>-</f:else>
                                                            </f:if>
                                                        </td>
                                                        <td class="text-nowrap {f:if(condition:client.core.insecure,then:'danger',else:'success')}">
                                                            {client.core.version}
                                                        </td>
                                                        <td class="text-center">
                                                            <f:if condition="{client.extensions}">
                                                                <span data-toggle="tooltip"
                                                                      data-title="{f:translate(key:'clients.numberOfExtensions')}"
                                                                      data-placement="left" class="badge badge-info">{client.extensions -> f:count()}</span>
                                                            </f:if>
                                                        </td>
                                                        <td class="text-center">
                                                            <f:if condition="{client.insecureExtensions}">
                                                                <span data-toggle="tooltip"
                                                                      data-title="{f:translate(key:'tx_t3monitoring_domain_model_client.insecure_extensions')}"
                                                                      data-placement="left" class="badge badge-danger">{client.insecureExtensions}</span>
                                                            </f:if>
                                                        </td>
                                                        <td class="text-center">
                                                            <f:if condition="{client.outdatedExtensions}">
                                                                <span data-toggle="tooltip"
                                                                      data-title="{f:translate(key:'tx_t3monitoring_domain_model_client.outdated_extensions')}"
                                                                      data-placement="left" class="badge badge-default">{client.outdatedExtensions}</span>
                                                            </f:if>
                                                        </td>
                                                        <td class="text-center">
                                                            <f:if condition="{client.extraDanger}">
                                                                <span data-toggle="tooltip"
                                                                      data-title="{f:translate(key:'client.extra.danger')}"
                                                                      data-placement="left" class="badge badge-danger">{client.extraDangerAsArray -> f:count()}</span>
                                                            </f:if>
                                                        </td>
                                                        <td class="text-center">
                                                            <f:if condition="{client.extraWarning}">
                                                                <span data-toggle="tooltip"
                                                                      data-title="{f:translate(key:'client.extra.warning')}"
                                                                      data-placement="left" class="badge badge-warning">{client.extraWarningAsArray -> f:count()}</span>
                                                            </f:if>
                                                        </td>
                                                        <td>
                                                            <a href="{monitor:editRecord(parameters: 'edit[tx_t3monitoring_domain_model_client][{client.uid}]=edit')}">
                                                                {core:icon(identifier:'actions-document-open')} </a>
                                                        </td>
                                                    </tr>
                                                </f:for>
                                                </tbody>
                                            </table>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <div class="callout callout-notice">
                                            {f:translate(key:'clients.notFound')}
                                        </div>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <div class="callout callout-info">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="fa-stack fa-lg callout-icon"><i
                                                    class="fa fa-circle fa-stack-2x"></i><i
                                                    class="fa fa-info fa-stack-1x"></i></span>
                                        </div>
                                        <div class="media-body"><h4 class="callout-title">
                                            {f:translate(key:'search')}</h4>
                                            <div class="callout-body">
                                                <p>{f:translate(key:'search.introHelp')}</p>
                                                <button class="btn btn-info">
                                                    {core:icon(identifier:'actions-system-list-open')}
                                                    {f:translate(key:'clients.listAll')}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h3>Last imports</h3>
                                <table class="table table-striped table-hover">
                                    <f:for each="{importTimes}" as="time" key="key">
                                        <tr>
                                            <th style="width:15%;">{f:translate(key:'lastImport.{key}')}</th>
                                            <td>
                                                <f:if condition="{time}">
                                                    <f:then>
                                                        <f:format.date date="{time}" format="{formats.dateAndTime}"/>
                                                    </f:then>
                                                    <f:else>
                                                        <div class="text-danger">{f:translate(key:'lastImport.none')}
                                                        </div>
                                                    </f:else>
                                                </f:if>
                                            </td>
                                        </tr>
                                    </f:for>
                                </table>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </f:form>
        </f:then>
        <f:else>
            <div class="callout callout-info">
                <div class="media">
                    <div class="media-left">
                                            <span class="fa-stack fa-lg callout-icon"><i
                                                    class="fa fa-circle fa-stack-2x"></i><i
                                                    class="fa fa-info fa-stack-1x"></i></span>
                    </div>
                    <div class="media-body"><h4 class="callout-title">
                        {f:translate(key:'noClients.title')}</h4>
                        <div class="callout-body">
                            <p>{f:translate(key:'noClients.description')}</p>
                        </div>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>