<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:monitor="http://typo3.org/ns/T3Monitor/T3monitoring/ViewHelpers">

<f:layout name="Simple" />

<f:section name="content">
	<h1>
		Client: {client.title}
		<a href="{monitor:editRecord(parameters: 'edit[tx_t3monitoring_domain_model_client][{client.uid}]=edit')}">{core:icon(identifier:'actions-document-open')}</a>
	</h1>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<f:translate key="client.facts" />
				</div>
				<table class="table table-striped table-hover">
					<tr>
						<th>{core:icon(identifier:'mimetypes-x-content-domain')} Domain</th>
						<td>
							<f:link.external uri="{client.domain}">{client.domain}</f:link.external>
						</td>
					</tr>
					<tr class="{f:if(condition:client.core.insecure,then:'danger',else:'success')}">
						<th>{core:icon(identifier:'apps-pagetree-root')} TYPO3 Version</th>
						<td>{client.core.version}</td>
					</tr>
					<f:if condition="{client.sla}">
						<tr>
							<th>{core:icon(identifier:'actions-document')} SLA</th>
							<td>
								<f:link.action action="show" controller="Sla" arguments="{sla:client.sla}">{client.sla.title}</f:link.action>
							</td>
						</tr>
					</f:if>
					<tr>
						<th><i class="fa fa-database"></i> Mysql Version</th>
						<td>{client.mysqlVersion -> monitor:format.mysqlVersion()}</td>
					</tr>
					<tr>
						<th><i class="fa fa-code"></i> PHP Version</th>
						<td>{client.phpVersion}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<f:if condition="{client.extraDanger}">
				<f:render section="extra" arguments="{name:'danger',cssClass:'danger',data:client.extraDangerAsArray}" />
			</f:if>
			<f:if condition="{client.extraWarning}">
				<f:render section="extra" arguments="{name:'warning',cssClass:'warning',data:client.extraWarningAsArray}" />
			</f:if>
			<f:if condition="{client.extraInfo}">
				<f:render section="extra" arguments="{name:'info',cssClass:'info',data:client.extraInfoAsArray}" />
			</f:if>

		</div>
	</div>


	<f:if condition="{client.errorMessage}">
		<div class="alert alert-danger">
			<div class="alert-title">Error during fetch</div>
			Message: {client.errorMessage}
		</div>
	</f:if>

	<f:if condition="{client.extensions}">
		<div class="panel panel-default">
			<div class="panel-heading">
				Available extensions ({client.extensions -> f:count()})
			</div>
			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>Name</th>
					<th>Version</th>
					<th>State</th>
					<th>Update available</th>
					<th>Category</th>
					<th>Secure</th>
					<th>Loaded</th>
					<th>Found in TER</th>
				</tr>
				</thead>
				<f:for each="{client.extensions}" as="extension">
					<monitor:additionalExtensionData as="extra" client="{client.uid}" extension="{extension.uid}">
						<tr class="{f:if(condition:extra.is_loaded,then:'',else:'t3-page-ce-hidden')}{f:if(condition:extension.insecure,then:'danger',else:'')}">
							<td>
								<span data-toggle="tooltip" data-title="{extension.title}" data-placement="right">
									<f:link.action action="show" controller="Extension" arguments="{extension:'{extension.name}'}">{extension.name}</f:link.action>
								</span>
							</td>
							<td>{extension.version}</td>
							<td>
								<span class="label label-{extension.state -> monitor:format.extensionState()}">{extension.state -> monitor:format.extensionState()}</span>
							</td>
							<td>
								<f:if condition="{extension.insecure}">
									<f:then>
										<br>
										<f:if condition="{extension.nextSecureVersion}">
											<f:then>
												Next secure version: {extension.nextSecureVersion}
											</f:then>
											<f:else>
												No official update available
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<monitor:availableUpdates extension="{extension}" as="list">
											<f:if condition="{list}">
												<f:for each="{list}" key="version" as="name">
													<span class="badge" data-toggle="tooltip" data-title='<div class="dep"><div class="panel panel-default"><div class="panel-heading">{name} release</div>{extension.serializedDependencies -> monitor:format.dependencies()}</div></div>' data-html="true">{version}</span>
												</f:for>
											</f:if>
										</monitor:availableUpdates>
									</f:else>
								</f:if>
							</td>
							<td>{extension.category -> monitor:format.extensionCategory()}</td>
							<td class="{f:if(condition:extension.insecure,then:'danger',else:'{f:if(condition:extension.isOfficial,then:\'success \',else:\'info\')}')}">
								<f:if condition="{extension.insecure}">
									<f:then>
										<span class="text-danger">no</span>
									</f:then>
									<f:else>
										<f:if condition="{extension.isOfficial}">
											<f:then>
												<span class="text-success">yes</span>
											</f:then>
											<f:else>
												<span class="text-info">unknown</span>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</td>
							<td class="{f:if(condition:extra.is_loaded,then:'success',else:'danger')}">
								<f:if condition="{extra.is_loaded}">
									<f:then>
										<span class="text-success">yes</span>
									</f:then>
									<f:else>
										<span class="text-danger">no</span>
									</f:else>
								</f:if>
							</td>
							<td class="{f:if(condition:extension.isOfficial,then:'success',else:'warning')}">
								<f:if condition="{extension.isOfficial}">
									<f:then>
										<span class="text-success">yes</span>
									</f:then>
									<f:else>
										<span class="text-warning">no</span>
									</f:else>
								</f:if>
							</td>
						</tr>
					</monitor:additionalExtensionData>
				</f:for>
			</table>
		</div>
	</f:if>
</f:section>

<f:section name="extra">
	<div class="panel panel-default">
		<div class="panel-heading">
			<f:translate key="tx_t3monitoring_domain_model_client.extra_{name}" />
		</div>
		<table class="table table-striped table-hover">
			<f:for each="{data}" as="value" key="key">
				<tr class="{cssClass}">
					<th style="width: 20%;">{key}</th>
					<td>{value}</td>
				</tr>
			</f:for>
		</table>
	</div>
</f:section>
</html>