<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:monitor="http://typo3.org/ns/T3Monitor/T3monitoring/ViewHelpers">

<f:layout name="Simple" />

<f:section name="content">
	<h1>
		Client:
		<f:if condition="{emConfiguration.presentationMode}">
			<f:then>
				<f:translate key="presentationMode.client.title" arguments="{0:client.uid}" />
			</f:then>
			<f:else>{client.title}</f:else>
		</f:if>
	</h1>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<f:translate key="client.facts" />
				</div>
				<table class="table table-striped table-hover">
					<tr>
						<th>{core:icon(identifier:'mimetypes-x-content-domain')} Domain</th>
						<td>
							<f:if condition="{emConfiguration.presentationMode}">
								<f:then>
									http://*******.***
								</f:then>
								<f:else>
									<f:link.external uri="{client.domain}" target="_blank">{client.domain}</f:link.external>
								</f:else>
							</f:if>
						</td>
					</tr>
					<tr class="{f:if(condition:client.lastSuccessfulImport,then:'',else:'warning')}">
						<th>{core:icon(identifier:'actions-document-history-open')} {f:translate(key:'tx_t3monitoring_domain_model_client.last_successful_import')}</th>
						<td>
							<f:if condition="{client.lastSuccessfulImport}">
								<f:then>
									{client.lastSuccessfulImport -> f:format.date(format:formats.dateAndTime)}
								</f:then>
								<f:else>{f:translate(key:'client.noSuccessfulImport')}</f:else>
							</f:if>
						</td>
					</tr>
					<tr class="{f:if(condition:client.core.insecure,then:'danger',else:'')} {f:if(condition:client.core.islatest,then:'success',else:'warning')}">
						<th>{core:icon(identifier:'apps-pagetree-root')} TYPO3 Version</th>
						<td>{client.core.version}</td>
					</tr>
					<f:if condition="{client.sla}">
						<tr>
							<th>{core:icon(identifier:'actions-document')} SLA</th>
							<td>
								<f:link.action action="show" controller="Sla" arguments="{sla:client.sla}">{client.sla.title}</f:link.action>
							</td>
						</tr>
					</f:if>
					<tr>
						<th><i class="fa fa-database fa-fw"></i> Mysql Version</th>
						<td>{client.mysqlVersion -> monitor:format.mysqlVersion()}</td>
					</tr>
					<tr>
						<th><i class="fa fa-code fa-fw"></i> PHP Version</th>
						<td>{client.phpVersion}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<f:if condition="{client.extraDanger}">
				<f:render section="extra" arguments="{name:'danger',cssClass:'danger',data:client.extraDangerAsArray}" />
			</f:if>
			<f:if condition="{client.extraWarning}">
				<f:render section="extra" arguments="{name:'warning',cssClass:'warning',data:client.extraWarningAsArray}" />
			</f:if>
			<f:if condition="{client.extraInfo}">
				<f:render section="extra" arguments="{name:'info',cssClass:'info',data:client.extraInfoAsArray}" />
			</f:if>

		</div>
	</div>


	<f:if condition="{client.errorMessage}">
		<div class="alert alert-danger">
			<div class="alert-title">Error during fetch</div>
			Message: {client.errorMessage}
		</div>
	</f:if>

	<f:if condition="{client.extensions}">
		<div class="panel panel-default">
			<div class="panel-heading">
				{f:translate(key:'available.extensions')} ({client.extensions -> f:count()})
			</div>
			<table class="table table-striped table-hover extension-list">
				<thead>
				<tr>
					<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.name')}</th>
					<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.version')}</th>
					<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.state')}</th>
					<th>{f:translate(key:'update.available')}</th>
					<th>{f:translate(key:'tx_t3monitoring_domain_model_extension.category')}</th>
					<th>{f:translate(key:'secure')}</th>
					<th>{f:translate(key:'loaded')}</th>
					<th>{f:translate(key:'found.in.ter')}</th>
				</tr>
				</thead>
				<f:for each="{client.extensions}" as="extension">

					<monitor:additionalExtensionData as="extra" client="{client.uid}" extension="{extension.uid}">
							<tr class="{f:if(condition:extra.is_loaded,then:'',else:'t3-page-ce-hidden')} {f:if(condition:extension.insecure,then:'danger',else:'')}">
							<td>
								<span data-toggle="tooltip" data-title="{extension.title}" data-placement="right">
									<f:link.action action="show" controller="Extension" arguments="{extension:'{extension.name}'}">{extension.name}</f:link.action>
								</span>
							</td>
							<td>{extension.version}</td>
							<td>
								<span class="label label-{extension.state -> monitor:format.extensionState()}">{extension.state -> monitor:format.extensionState()}</span>
							</td>
							<td>
								<f:if condition="{extension.insecure}">
									<f:then>
										<br>
										<f:if condition="{extension.nextSecureVersion}">
											<f:then>
												{f:translate(key:'next.secure.version')} {extension.nextSecureVersion}
											</f:then>
											<f:else>
												{f:translate(key:'no.official.update')}
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<monitor:availableUpdates extension="{extension}" as="list">
											<f:if condition="{list}">
												<f:for each="{list}" as="version">
													<span class="badge" data-toggle="tooltip" data-title='<div class="dep"><div class="panel panel-default"><div class="panel-heading">{version.name} release</div>{version.serializedDependencies -> monitor:format.dependencies()}</div></div>' data-html="true">{version.version}</span>
												</f:for>
											</f:if>
										</monitor:availableUpdates>
									</f:else>
								</f:if>
							</td>
							<td>{extension.category -> monitor:format.extensionCategory()}</td>
							<td class="{f:if(condition:extension.insecure,then:'danger',else:'{f:if(condition:extension.isOfficial,then:\'success \',else:\'info\')}')}">
								<f:if condition="{extension.insecure}">
									<f:then>
										<span class="text-danger">no</span>
									</f:then>
									<f:else>
										<f:if condition="{extension.isOfficial}">
											<f:then>
												<span class="text-success">{f:translate(key:'yes')}</span>
											</f:then>
											<f:else>
												<span class="text-info">{f:translate(key:'unknown')}</span>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</td>
							<td class="{f:if(condition:extra.is_loaded,then:'success',else:'danger')}">
								<f:if condition="{extra.is_loaded}">
									<f:then>
										<span class="text-success">{f:translate(key:'yes')}</span>
									</f:then>
									<f:else>
										<span class="text-danger">{f:translate(key:'no')}</span>
									</f:else>
								</f:if>
							</td>
							<td class="{f:if(condition:extension.isOfficial,then:'success',else:'warning')}">
								<f:if condition="{extension.isOfficial}">
									<f:then>
										<span class="text-success">{f:translate(key:'yes')}</span>
									</f:then>
									<f:else>
										<span class="text-warning">{f:translate(key:'no')}</span>
									</f:else>
								</f:if>
							</td>
						</tr>
					</monitor:additionalExtensionData>
				</f:for>
			</table>
		</div>
	</f:if>
</f:section>

<f:section name="extra">
	<div class="panel panel-default">
		<div class="panel-heading">
			<f:translate key="tx_t3monitoring_domain_model_client.extra_{name}" />
		</div>
		<table class="table table-striped table-hover">
			<f:for each="{data}" as="value" key="key">
				<tr class="{cssClass}">
					<th style="width: 20%;">{key}</th>
					<td>{value}</td>
				</tr>
			</f:for>
		</table>
	</div>
</f:section>
</html>