{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Simple" />

<f:section name="content">
	<h1>Listing for Core</h1>

	<f:form name="filter" object="{filter}" class="form-inline">
		<div class="form-group">
			<label>Usage </label>
			<f:form.select property="usage" options="{1:'used',0:'all'}" class="form-control" />
		</div>

		<button class="btn btn-default">
			{core:icon(identifier:'actions-search')} Search
		</button>
	</f:form>

	<f:if condition="{cores}">
		<f:then>
			<div class="panel panel-default panel-space">
				<div class="panel-heading">
					Core versions ({cores-> f:count()} total)
				</div>
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th>{f:translate(key:'tx_t3monitoring_domain_model_core.version')}</th>
						<th>{f:translate(key:'tx_t3monitoring_domain_model_core.release_date')}</th>
					</tr>
					</thead>
					<f:for each="{cores}" as="core">
						<tr class="{f:if(condition:core.insecure,then:'danger',else:'success')}">
							<th class="text-nowrap">{core.version}</th>
							<td>{core.releaseDate -> f:format.date(format:formats.date)}</td>
						</tr>
					</f:for>
				</table>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-notice">
				No cores yet imported
			</div>
		</f:else>
	</f:if>
</f:section>