
<table class="tx-t3monitoring" >
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.title" />
		</td>
		<td>
		{client.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.domain" />
		</td>
		<td>
		{client.domain}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.email" />
		</td>
		<td>
		{client.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.php_version" />
		</td>
		<td>
		{client.phpVersion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.mysql_version" />
		</td>
		<td>
		{client.mysqlVersion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.insecure_core" />
		</td>
		<td>
		{client.insecureCore}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.insecure_extensions" />
		</td>
		<td>
		{client.insecureExtensions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.old_core" />
		</td>
		<td>
		{client.oldCore}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.old_extensions" />
		</td>
		<td>
		{client.oldExtensions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3monitoring_domain_model_client.connection_error" />
		</td>
		<td>
		{client.connectionError}
		</td>
	</tr>
</table>