<f:layout name="Simple" />

<f:section name="content">
	<h1>Service level agreements</h1>
	<f:if condition="{slas}">
		<f:then>
			<div class="panel panel-default">
				<div class="panel-heading">
					SLA ({slas-> f:count()} total)
				</div>
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
					</tr>
					</thead>
					<f:for each="{slas}" as="sla">
						<tr>
							<td class="text-nowrap">
								<f:link.action action="show" arguments="{sla:sla}">
									{sla.title}
								</f:link.action>
							</td>
							<td>
								<f:if condition="{sla.description}">
									{sla.description -> f:format.nl2br()}
								</f:if>
							</td>
						</tr>
					</f:for>
				</table>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-notice">
				No SLA records available
			</div>
		</f:else>
	</f:if>
</f:section>