<f:layout name="Simple" />

<f:section name="content">
	<h1>{f:translate(key:'tx_t3monitoring_domain_model_sla')}: {sla.title}</h1>

	<f:if condition="{sla.description}">
		<p class="lead">
			{sla.description -> f:format.nl2br()} </p>
	</f:if>

	<h2>{f:translate(key:'sla.clients')}</h2>
	<f:if condition="{clients}">
		<f:then>
			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>{f:translate(key:'tx_t3monitoring_domain_model_client.title')}</th>
					<th>{f:translate(key:'tx_t3monitoring_domain_model_client.domain')}</th>
					<th>Last update</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{clients}" as="client">
					<tr>
						<td>{client.title}</td>
						<td>{client.domain}</td>
						<td>todo last update</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<div class="alert alert-notice">
				{f:translate(key:'sla.noClients')}
			</div>
		</f:else>
	</f:if>
</f:section>