
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Client</h1>

<f:flashMessages />

<table  class="tx_t3monitoring" >
	<tr>
		<th><f:translate key="tx_t3monitoring_domain_model_client.title" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.domain" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.email" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.php_version" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.mysql_version" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.insecure_core" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.insecure_extensions" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.old_core" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.old_extensions" /></th>
		<th><f:translate key="tx_t3monitoring_domain_model_client.connection_error" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{clients}" as="client">
		<tr>
			<td><f:link.action action="show" arguments="{client : client}"> {client.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.domain}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.phpVersion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.mysqlVersion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.insecureCore}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.insecureExtensions}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.oldCore}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.oldExtensions}</f:link.action></td>
			<td><f:link.action action="show" arguments="{client : client}"> {client.connectionError}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{client : client}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{client : client}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Client</f:link.action>
</f:section>